﻿
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="refresh" content="3; URL=http://localhost:15538">
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <div class="jumbotron">
        <div>
            <h2>You are disconnected.</h2>
            <h3>Thank you for your visit.</h3>
            <span>
                Redirect in 3 ...
            </span>            
        </div>        
    </div>
</body>
</html>
