﻿@{
    ViewBag.Title = "Home";
}

@{
    if (!ScraperWebDesign.Utils.Session.Instance.IsLogged)
    {
        <div class="jumbotron">
            <div align="center">
                <h2>
                    You are not connected.
                </h2>
                <h3>
                    <a href="/Security/Login">Login</a> or <a href="/Security/Register">create</a> an account to view the content of the site.
                </h3>
            </div>
        </div>

    }
    else
    {        
        <div class="jumbotron">
            <div align="center">
                <img src="~/Content/images/0.jpg" style="width:400px;" alt="Logo GWS ADVISORY" />
                <img src="~/Content/images/technobel_logo_hor.png" style="width:400px;" alt="Logo Technobel" />
                <h2>Now you are connected you can acces to the other pages.</h2>
                <h3>have fun</h3>
            </div>
        </div>
    }
}





