﻿@model IEnumerable<ScraperWebDesign.Models.NewsFormModel>
@{
    ViewBag.Title = "GoodNews";
}
<div class="jumbotron">
    <h2>GoodNews</h2>
</div>
<table class="table">
    <thead>
        <tr>
            <th width="50%">Title</th>
            <th width="50%">Content</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td width="50%">@item.Title</td>
                    <td width="50">@item.Description</td>
                </tr>
            }

        }
    </tbody>

</table>
