﻿@{
    ViewBag.Title = "Keywords";
}

<div class="jumbotron">
    <h2>Keywords</h2>

    <button type="button" class="btn btn-outline-dark">Score the keyword</button>
    <button type="button" class="btn btn-outline-dark">Sort the keyword by score</button>
    <button type="button" class="btn btn-dark">Clean</button>
    <br /><br />
    <input placeholder="Add keyword" id="keyword"/><button type="button" class="btn btn-outline-dark">Add Keyword</button>
</div>
<div class="row">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">KeyWord</th>
                <th scope="col">Occurences</th>
                <th scope="col">Keyword score</th>
                <th scope="col">Fixed Score</th>
                <th scope="col">Adjusted Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>cell1_1</td>
                <td>cell2_1</td>
                <td>cell3_1</td>
                <td>cell4_1</td>
                <td>cell5_1</td>
            </tr>
            <tr>
                <td>cell1_2</td>
                <td>cell2_2</td>
                <td>cell3_2</td>
                <td>cell4_2</td>
                <td>cell5_2</td>
            </tr>
            <tr>
                <td>cell1_3</td>
                <td>cell2_3</td>
                <td>cell3_3</td>
                <td>cell4_3</td>
                <td>cell5_3</td>
            </tr>
            <tr>
                <td>cell1_4</td>
                <td>cell2_4</td>
                <td>cell3_4</td>
                <td>cell4_4</td>
                <td>cell5_4</td>
            </tr>
            <tr>
                <td>cell1_5</td>
                <td>cell2_5</td>
                <td>cell3_5</td>
                <td>cell4_5</td>
                <td>cell5_5</td>
            </tr>
            <tr>
                <td>cell1_6</td>
                <td>cell2_6</td>
                <td>cell3_6</td>
                <td>cell4_6</td>
                <td>cell5_6</td>
            </tr>
            <tr>
                <td>cell1_7</td>
                <td>cell2_7</td>
                <td>cell3_7</td>
                <td>cell4_7</td>
                <td>cell5_7</td>
            </tr>
        </tbody>
    </table>
    <br />
    <table class="striped">
        <thead>
            <tr>
                <th>Companies for duplicate-identification</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>cell1_1</td>
            </tr>
            <tr>
                <td>cell1_2</td>
            </tr>
            <tr>
                <td>cell1_3</td>
            </tr>
            <tr>
                <td>cell1_4</td>
            </tr>
            <tr>
                <td>cell1_5</td>
            </tr>
            <tr>
                <td>cell1_6</td>
            </tr>
            <tr>
                <td>cell1_7</td>
            </tr>
            <tr>
                <td>cell1_8</td>
            </tr>
            <tr>
                <td>cell1_9</td>
            </tr>
        </tbody>
    </table>
</div>

