﻿@model IEnumerable<ScraperWebDesign.Models.NewsFormModel>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="jumbotron">
    <h2>News</h2>
    
    <button type="button" class="btn btn-info" onclick="">1. Get the news</button>
    <button type="button" class="btn btn-info">2. Score the news</button>
    <button type="button" class="btn btn-info">3. Sort the news by score</button>
    <button type="button" class="btn btn-info">4. Validate News</button>
    <button type="button" class="btn btn-info">Clean</button>
</div>



        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Link</th>
                    <th>Date de scrapping</th>
                    <th>Date</th>
                    <th>Author</th>
                    <th>Score</th>                    
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td width="30%">@item.Title</td>
                            <td width="30%">@item.Description</td>
                            <td width="5%"><a href="@item.Link" title="Link">Url</a></td>
                            <td width="5%">@item.ScrapeDate</td>
                            <td width="5%">@item.Ddp</td>
                            <td width="5%">@item.Author </td>
                            <td width="5%" class="red-text">@item.Score</td>                            
                            <td width="10%"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span>Validate</button></td>
                            <td width="10%"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>Delete</button></td>
                            <td width="10%"><button type="button" class="btn btn"><span class="glyphicon glyphicon-pushpin"></span>Select</button></td>                            
                        </tr>
                    }

                }



            </tbody>
        </table>

