﻿@model IEnumerable<ScraperWebDesign.Models.NewsFormModel>
@{
    ViewBag.Title = "ValidatedNews";
}
<div class="jumbotron">
    <h2>Validated News</h2>
    <ul>Liste des news valider</ul>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Link</th>
            <th>Date de scrapping</th>
            <th>Date</th>
            <th>Author</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td width="30%">@item.Title</td>
                    <td width="30%">@item.Description</td>
                    <td width="5%"><a href="@item.Link" title="Link">Url</a></td>
                    <td width="5%">@item.ScrapeDate</td>
                    <td width="5%">@item.Ddp</td>
                    <td width="5%">@item.Author </td>
                    <td width="5%" class="red-text">@item.Score</td>
                </tr>
            }

        }
    </tbody>
</table>

