﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>



    <title>@ViewBag.Title - ScraperWeb</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper" class="active">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul id="sidebar_menu" class="sidebar-nav">
                <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
            </ul>
            <ul class="sidebar-nav" id="sidebar">
                <li><a href="/Home/Index">Home<span title="Home" class="sub_icon glyphicon glyphicon-link"></span></a></li>
                @{
                    if (!ScraperWebDesign.Utils.Session.Instance.IsLogged)
                    {

                    }
                    else
                    {
                        if (ScraperWebDesign.Utils.Session.Instance.ConnectedUser.Role == "ADMIN")
                        {                            
                            <li><a href="*">Administration<span title="Admin Area" class="sub_icon glyphicon glyphicon-link"></span></a></li>
                        }
                        <li><a href="/User/News">News<span title="News" class="sub_icon glyphicon glyphicon-link"></span></a></li>
                        <li><a href="/User/ValidatedNews">Validated News<span title="Validated News" class="sub_icon glyphicon glyphicon-link"></span></a></li>
                        <li><a href="/User/Keywords">Keywords<span title="Keywords" class="sub_icon glyphicon glyphicon-link"></span></a></li>
                        <li><a href="/User/GoodNews">GoodNews<span title="GoodNews" class="sub_icon glyphicon glyphicon-link"></span></a></li>
                        <li><a href="/User/NewsAlreadyPublished">News Already Published<span title="News Already Published" class="sub_icon glyphicon glyphicon-link"></span></a></li>
                        <li><a href="/User/DocumentGenerate">Document Generation<span title="Document Generation" class="sub_icon glyphicon glyphicon-link"></span></a></li>
                        <li><a href="/User/Archives">Archives<span title="Archives" class="sub_icon glyphicon glyphicon-link"></span></a></li>
                        <li><a href="/User/About">User Guide<span title="User Guide" class="sub_icon glyphicon glyphicon-link"></span></a></li>
                        <li><a href="/User/MyAccount">My Account<span title="My Account" class="sub_icon glyphicon glyphicon-link"></span></a></li>
                        <li><a href="/User/Settings">Settings<span title="Settings" class="sub_icon glyphicon glyphicon-link"></span></a></li>
                        <li><a href="/User/Tampon">Tampon<span title="Tampon" class="sub_icon glyphicon glyphicon-link"></span></a></li>
                        <li><a href="/User/Problems">Problems<span title="Problems" class="sub_icon glyphicon glyphicon-link"></span></a></li>
                    }
                }
                <li><a href="/Home/VersionHistory">Version History<span title="Version History" class="sub_icon glyphicon glyphicon-link"></span></a></li>
                <li><a href="/Home/Log">Log<span title="Log" class="sub_icon glyphicon glyphicon-link"></span></a></li>
                <li><a href="/Home/Contact">Contact<span title="Contact" class="sub_icon glyphicon glyphicon-link"></span></a></li>
                @{
                    if (!ScraperWebDesign.Utils.Session.Instance.IsLogged)
                    {
                        <li><a href="/Security/Register">Register<span title="Register" class="sub_icon glyphicon glyphicon-link"></span></a></li>
                        <li><a href="/Security/Login">Connect<span title="Connect" class="sub_icon glyphicon glyphicon-link"></span></a></li>
                    }
                    else
                    {                        
                        <li><a href="/Security/Logout">Disconnect<span title="Problems" class="sub_icon glyphicon glyphicon-link"></span></a></li>
                    }
                }
            </ul>
        </div>
    </div>
    <!-- Sidebar -->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Scraper Web</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)    
    
    
    <script src="~/Scripts/navbar-menu.js"></script>
    <script src="~/Scripts/login.js"></script>

</body>
</html>
